  name: tag latest
  on: workflow_dispatch
  jobs:
    build:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4

        - name: Setup JDK
          uses: actions/setup-java@v4
          with:
            distribution: 'oracle'
            java-version: "22"

        - name: Build
          run: ./gradlew assembleRelease

        - uses: ilharp/sign-android-release@nightly
          name: Sign apk
          id: sign_app
          with:
            releaseDir: app/build/outputs/apk/release
            signingKey: ${{ secrets.ANDROID_SIGNING_KEY }}
            keyAlias: ${{ secrets.ANDROID_KEY_ALIAS }}
            keyStorePassword: ${{ secrets.ANDROID_KEYSTORE_PASSWORD }}
            keyPassword: ${{ secrets.ANDROID_KEY_PASSWORD }}
            buildToolsVersion: 34.0.0

        - name: Compress mapping.txt
          run: tar zcvf debug.symbol.tar.gz app/build/outputs/mapping/release/mapping.txt

        - name: Publish Latest Release
          uses: "marvinpinto/action-automatic-releases@latest"
          with:
            repo_token: "${{ secrets.SYNC_TOKEN }}"
            automatic_release_tag: "latest"
            prerelease: true
            title: "Latest Release"
            files: |
              ${{ steps.sign_app.outputs.signedFile }}
              debug.symbol.tar.gz
