name: Share regex/workflow on wiki

on:
  issues:
    types: [opened, edited, deleted]
  workflow_dispatch:


permissions:
  contents: write

jobs:
  collect-issues:
    if: |
      github.event_name == 'workflow_dispatch' ||
      github.event.action == 'deleted' ||
      contains(github.event.issue.labels.*.name, 'share regex/workflow') 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'

      - name: Install Dependencies
        run: npm install @actions/core@1.11.1 @actions/github@6.0.0

      - name: Run Collection Script
        id: collect
        run: node .github/workflows/share.cjs
        env:
          GITHUB_TOKEN: ${{ secrets.SYNC_TOKEN }}

      - name: Log Results
        run: echo "${{ steps.collect.outputs.result }}"

      - name: Upload result
        uses: actions/upload-artifact@v4
        with:
          name: generated.md
          path: generated.md

      - name: Checkout wiki
        uses: actions/checkout@v4
        with:
          repository: ${{github.repository}}.wiki 
          path: wiki_dir

      - name: Modify wiki
        env:
          GITHUB_TOKEN: ${{ secrets.SYNC_TOKEN }}
        run: |
          cd wiki_dir
          mv ../generated.md ./Regex-Workflow-Templates.md
          git config --global user.email "actions@github.com"
          git config --global user.name "Github Action"
          git add .
          git diff-index --quiet HEAD -- || git commit -m "update template" 
          git push

